[submodule "crud/mxpfu-nodejsLabs"]
	path = crud/mxpfu-nodejsLabs
	url = https://github.com/ibm-developer-skills-network/mxpfu-nodejsLabs.git
[submodule "crud/mxpfunodejsLbas"]
	path = crud/mxpfunodejsLbas
	url = https://github.com/ibm-developer-skills-network/mxpfu-nodejsLabs.git
[submodule "expressServer/extraRepo/lkpho-Cloud-applications-with-Node.js-and-React"]
	path = expressServer/extraRepo/lkpho-Cloud-applications-with-Node.js-and-React
	url = https://github.com/ibm-developer-skills-network/lkpho-Cloud-applications-with-Node.js-and-React.git
[submodule "expressServer/Repo/lkpho-Cloud-applications-with-Node.js-and-React"]
	path = expressServer/Repo/lkpho-Cloud-applications-with-Node.js-and-React
	url = https://github.com/ibm-developer-skills-network/lkpho-Cloud-applications-with-Node.js-and-React.git
